.ui-menuitem {
  margin-right: 1.5rem !important;
}

.full-width, .full-width input{
  width: 100% !important;
}

.ui-button-danger{
  background: red;
  color: white;
}

.btn-login{
  width: 181px;
  height: 39px;
  padding: 4px 0 !important;
  border-radius: 66px !important;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400 !important;
}


.header .ui-menu{
  border-radius: 0;
  background: white;
  border: none;
  padding-top: 1rem;
  padding-bottom: 0.9rem;
}

.header .ui-menu.ui-widget li > .ui-menuitem-link{
  padding: 0.5rem 2.5rem;
  background: none;
  transition: all 0.5s ease;
  border-radius: 50px;
  color: #333333 !important;
}

.header .ui-menu.ui-widget li > .ui-menuitem-link:hover{
  opacity: 0.5;
}

.card-stats .card-body{
  padding: 15px 15px 0px;
}
.card-stats .card-body .numbers{
  text-align: left;
} 

.card-stats .card-body .numbers p{
  margin-bottom: 0;
} 

.card-stats .card-body .numbers h4{
  
} 

.card-stats .card-footer{
  padding: 0px 15px 10px 15px;
} 

.card-stats .card-body .icon-big {
  font-size: 3em;
  min-height: 64px;
} 

.card-stats .card-body i {
  line-height: 59px;
}
